<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>Hello, folks!</h1>
                <img src="{{@UI,@IMG}}fatfreefridge_logo.png" class="logo" />
                <p>This is going to be a huge wiki, glossar, snippet base and community about the PHP Fat-Free
                    Framework. Hopefully multilingual.<br/>This Site is currently driven by the {{ @VERSION }} and Twitter bootstrap.</p>

                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
            <div class="row">
                <div class="span4">
                    <h2>Examples</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                <!--/span-->
                <div class="span4">
                    <h2>Documentation</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                <!--/span-->
                <div class="span4">
                    <h2>Plugins</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="span6">
                    <h2>Server Check</h2>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>PHP Module</th>
                            <th>Installed</th>
                            <th>Required by</th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{@modules}}" key="{{ @mod }}" value="{{ @dep }}" counter="{{ @counter }}">
                            <tr>
                                <td>{{ @mod }}</td>
                                <td class="center">{{ extension_loaded(@mod)?'<i class="icon-ok"></i>':'<i
                                        class="icon-remove"></i>' }}
                                </td>
                                <td>{{ @dep }}</td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
                <!--/span-->
                <div class="span6">
                    <h2>Heading</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; F3-Junkies 2012</p>
    </footer>

</div>
<!--/.fluid-container-->
